/.idea
/venv
/.venv
/shares.json
/.env
/__pycache__
/work/__pycache__
/work/historyTradingLog.txt
/work/instruments.txt
/work/logger.log
/work/logger_main.log
/config/__pycache__
/tests/__pycache__
/GUI.ui
/instruments.txt
/app/__pycache__
/app/config.txt
/app/logger.log
/test_openpyxl.py
/work/excel_stats.xlsx
/history_data
/test_history_data
/instruments_info
/sma_cache
/accs.txt
/examples/__pycache__