/.idea
/venv
/shares.json
/.env
/work/historyTradingLog.txt
/work/instruments.txt
/work/logger.log
/work/logger_main.log
/GUI.ui
/instruments.txt
/app/config.txt
/app/logger.log
/test_openpyxl.py
/work/excel_stats.xlsx
/history_data
/test_history_data
/instruments_info
/sma_cache
/accs.txt
/chat_bot/admin.py
/chat_bot/db.py
/chat_bot/instruments.csv
/chat_bot/middlewares.py
/chat_bot/states.py
/chat_bot/chat_utils.py